<!DOCTYPE html>
<html lang="en">
<head>
<body class="animsition">

	<!-- Content page -->
	<section>
		<div class="container">
			<div class="row ">
				<div class="col-md-8 col-lg-9">
					<div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
						<!-- Block4 -->
						<div class="blo4 p-b-63">
							<!-- - -->
							<div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
									<!-- TODO: viewにロジックを書くのは良くないので、srcがnilの場合にデフォルト画像を表示するようjqueryを書く -->
					        <% if @group.image_url.present? %>
						        <%= image_tag(@group.image_url.url) %>
					        <% else %>
						        <%= image_tag("default.png") %>
					        <% end %>

								<div class="date-blo4 flex-col-c-m">
									<span class="txt30 m-b-4">
										<%= @lunch.created_at.strftime('%d') %>
									</span>

									<span class="txt31">
										<%= @lunch.created_at.strftime('%b, %Y') %>
									</span>
								</div>
							</div>

							<!-- - -->
							<div class="text-blo4 p-t-33">
								<h4 class="p-b-16">
									Group <%= @group.rank+1%>
								</h4>

								<div class="txt32 flex-w p-b-24">
									<span>
										by <%= @organization.name %>
										<span class="m-r-6 m-l-4">|</span>
									</span>

									<span>
                    <%= @lunch.created_at.strftime('%d %B, %Y') %>
										<span class="m-r-6 m-l-4">|</span>
									</span>

									<span>
                    Restaurant：<%= @group.url %>
										<span class="m-r-6 m-l-4">|</span>
									</span>
								</div>

								<p>
									<%= @group.comment %>
								</p>
							</div>
						</div>

						<!-- Leave a comment -->
						<%= form_for(@group, url: organization_lunch_group_path(@group), html: {class: "leave-comment p-t-10"}) do |f| %>
							<h4 class="txt33 p-b-14">
								Leave a Comment
							</h4>

							<p>
								You can leave a comment and image about this lunch.
							</p>

							<%= f.text_area :comment, class: "bo-rad-10 size29 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-40" %>

							<div class="size30 bo2 bo-rad-10 m-t-3 m-b-30">
								<%= f.text_field :url, class: "bo-rad-10 sizefull txt10 p-l-20", placeholder: "Restaurant url" %>
							</div>

							<div class="input-group">
  							<span class="input-group-btn">
						    <span class="btn3 flex-c-m size31 txt11 trans-0-4" onclick="$(this).parent().find('input[type=file]').click();">Image upload</span>
    							<%= f.file_field :image_url, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
  							</span>
  							<span class="form-control"></span>
							</div>

							<!-- Button3 -->
							<br>
							<%= f.submit "Post", class: "btn3 flex-c-m size31 txt11 trans-0-4" %>
						<% end %>
					</div>
				</div>

				<div class="col-md-4 col-lg-3">
					<div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">

						<!-- Members -->
						<div class="categories">
							<h4 class="txt33 bo5-b p-b-35 p-t-58">
								Members
							</h4>

							<ul>
                <% @members.each do |member| %>
								  <li class="bo5-b p-t-8 p-b-8">
                    <%= link_to member.name, member_path(member.id)  ,class: "txt27" %>
								  </li>
                <% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
