<!DOCTYPE html>
<body class="animsition" style="background-image: url(<% image_tag('/icons/pattern2.png') %>">
  <section class="section-welcome bg1-pattern p-t-120 p-b-105"  style="background-image: url(<% image_tag('/icons/pattern2.png') %>">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-welcome t-center">
            <span class="tit2 t-center">
							Organization
						</span>

						<h3 class="tit3 t-center m-b-35 m-t-5">
							<%= @organization.name %>
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							<%= @organization.text %>
						</p>

            <p class="t-center m-b-22 size3 m-l-r-auto">
							<%= link_to @organization.url, @organization.url %>
						</p>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
          <!-- TODO: viewにロジックを書くのは良くないので、srcがnilの場合にデフォルト画像を表示するようjqueryを書く -->
					  <% if @organization.image_url.present? %>
						    <%= image_tag(@organization.image_url.url) %>
					  <% else %>
						    <%= image_tag("default.png") %>
					  <% end %>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
