<!DOCTYPE html>
<html>
  <head>
    <title>QuartZ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "font-awesome" %>
    <%= stylesheet_link_tag "themify-icons" %>
    <%= stylesheet_link_tag "animate" %>
    <%= stylesheet_link_tag "select2" %>
    <%= stylesheet_link_tag "slick" %>
    <%= stylesheet_link_tag "index" %>

    <%= javascript_include_tag "jquery-3.2.1.min" %>
    <%= javascript_include_tag "animsition" %>
    <%= javascript_include_tag "popper" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "select2" %>
    <%= javascript_include_tag "slick" %>
    <%= javascript_include_tag "slick-custom" %>
    <%= javascript_include_tag "index" %>

  </body>
</html>
